<form action="/" method="post">
    <hr>
    {# Form field #}
    <input type="text" name="First name">
    <input type="number" name="Age">
    <input type="url" name="blog">
    <input type="range">

    {# Checkbox #}
    <label>
        <input type="checkbox">
    </label>
    {# Radio button #}
    <input type="radio" name="gender">

    <input type="submit" value='Send'>
    <hr>
    {#    Text area multiline #}
    <textarea name="Description">
    </textarea>

    <hr>
    {#    Dropdowns#}
    <select>
    </select>
    <button>Send</button>
    {# old school#}

    {#    <input type="submit" value='Send'">#}
</form>